../../.DS_Store
        ../../.gitconfig
        ../../.viminfo
        ../../.vscode/
        ../../.zsh_history
        ../../.zsh_sessions/
        ../../Desktop/.DS_Store
        ../../Desktop/atttributes.txt
        ../../Desktop/css.pdf.txt
        ../../Desktop/frontend.txt
        ../../Desktop/tag.txt
        ../.DS_Store
        ../Basic Mathematics - 1 - Sample QP.pdf
        ../ChatGPT_Atlas.dmg
        ../HTML/
        ../bg.jpg
        ../facebook.svg
        ../habsida/
        ../linkedin.svg
        ../logo.svg
        ../practice/
        ../../Library/
        ../../Movies/
        ../../Music/
        ../../OneDrive - Manipal University Jaipur
        ../../Parallels/
        ../../Pictures/
        ../../Programming in C F 1 W FINAL.pdf
        ../../Public/
        ../../c tutorial/
        ../../habsida/
        ../../hello
